
textarea {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.right-align {
    text-align: right !important;
}

table.dataTable td {
    white-space: nowrap;
}

table.dataTable {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.password-input[readonly] {
    -webkit-text-security: circle; 
    -moz-text-security: circle;
    text-security: circle;
}

.password-input:not([readonly]) {
    -webkit-text-security: none;
    -moz-text-security: none;
    text-security: none;
}

.custom-card-width {
    min-width: 240px;
    margin: 0 auto;
}

#qrCodeImage {
    width: 180px;
    height: 180px;
}

.qr-code-card {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #ced4da;
}

.container-md {
    padding-top: 50px;
    padding-bottom: 50px;
}

textarea[readonly] {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    background-color: rgba(247, 247, 247, 0.5); 
}

input[readonly] {
    background-color: rgb(247, 247, 247, 0.5); 
}

.right-align {
    text-align: right !important;
}

