@{
    ViewData["Title"] = "Manager IO - Zatca Integration";
}

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1">Manager - Zatca Integration</h1>
            <h3 class="mb-5"><em>An unofficial Web Services for generating ZATCA e-invoices, QR Codes, and submitting e-invoices to ZATCA's servers.</em></h3>
            
        </div>
    </header>

</div>
<!-- Footer-->
<footer class="py-3 bg-light fixed-bottom">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-bg-light">Copyright &copy; Zatca Web Services 2024</p></div>
</footer>